.button-container {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.btn-primary{
    background-color: #4158D9;
}

.btn-primary:disabled {
    background-color: #84B3DC;
    border-color: #84B3DC;
}